<div
    *ngIf="product"
    class="product"
>
    <img class="product__image" [src]="product.image">
    <div class="product__info">
        <h3 class="product__el">{{ product.name }}</h3>
        <h3 class="product__el">$ {{ product.price }}</h3>
        <p class="product__description">{{ product.description }}</p>
        <div>
            <p class="product__stars">Starts: {{ product.stars }}</p>
            <!-- Por agregar el boton de editar que lleva al formulario de edicion -->
        </div>
        <!-- <a class="product__el product__edit" [routerLink]="['/form:id']">Edit</a> -->
        <!-- <button
            *ngIf="enableProductEdit"
            class="product__delete-button"
            (click)="deleteProduct()"
        >Delete</button> -->
        <!-- Añadir botón para editar producto y función que navegue al formulario de edición con el id como param -->
    </div>
</div>