<div *ngIf="product" class="product">
  <img class="product__image" [src]="product.image" />
  <div class="product__info">
    <h3 class="product__el">{{ product.name }}</h3>
    <h3 class="product__el__price">$ {{ product.price }}</h3>
    <p class="product__description">{{ product.description }}</p>
    <p class="product__stars">Stars: {{ product.stars }}</p>
    <div class="product__links">
      <a
        class="product__el product__more-info"
        [routerLink]="['/products', product.id]"
        >Show more...</a
      >
      <button
      class="product__edit-button"
      (click)="editProduct()"
      >Edit</button>
    </div>
      
  </div>
</div>
